extends ../layouts/default.pug

block content
	section.audios.clearfix
		.container
			h2.title.section-title= utils.upcase(category.name)
			each audio in audios
				article.audio
					.audio__image-container
						img.audio__image(src=audio.image.url, width='300', height='300')
					a.js-play.play-btn(href=audio.soundCloudURL, data-title=audio.name, data-thumbnail=audio.image.url) Play
					a.audio__info(href='/audios/' + audio.slug)
						p.audio__author= audio.author
						h3.audio__title: span.highlighted= audio.name
			else
				.error-section Please add #{key} audios to the database